.main-container{
    width: 100%;
}

.menu-items-container{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.menu-item{
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 42px;
    font-weight: 700;
    text-shadow: 2px 2px 5px #000;
    text-align: center;
    transition: all .5s ease-in-out;
    position: relative;
    z-index: 1;
}
.menu-item::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 2;
}
.menu-item:hover{
    z-index: 3;
    box-shadow: 2px 2px 50px #000, -2px 2px 50px #000, -2px -2px 50px #000, 2px -2px 50px #000;
    transform: scale(1.05);
}
.menu-item h3{
    z-index: 4;
}
.humorki{
    background: url('../images/humorki-background.jpg');
    background-size: cover;
    background-position: center center;
}
.sklep{
    background: url('../images/sklep-background.jpg');
    background-size: cover;
    background-position: center center;
}
.info{
    background: url('../images/info-background.jpg');
    background-size: cover;
    background-position: center center;
}
.plan{
    background: url('../images/plan-background.jpg');
    background-size: cover;
    background-position: center center;
}
.center-header{
    color: white;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
}
.school-name{
    width: 70%;
}
.school-name h1{
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}
.center-header p{
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: 100;
}
.logo{
    width: 30%;
    margin-bottom: 10px;
}
.center-header img{
    width: 100%;
    display: block;
}
footer{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.9);
}
.author, .testers{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}
.author h4{
    font-size: 28px;
    font-weight: 300;
}
.author p{
    font-size: 24px;
    font-weight: 100;
}
.testers h4{
    font-size: 24px;
    font-weight: 300;
}
.testers p{
    font-size: 18px;
    font-weight: 100;
}
footer hr{
    width: 100%;
    border: 1px solid #333;
    margin-bottom: 20px;
}

@media screen and (min-width: 798px){
    .menu-item{
        width: 50%;
    }
    .logo{
        width: 100%;
    }
    .logo img{
        width: 17%;
        display: block;
        margin: 0 auto;
    }
    .school-name h1{
        font-size: 40px;
    }
    .author, .testers{
        width: 50%;
    }
}
@media screen and (min-width: 1080px){
    .logo img{
        width: 10%;
        display: block;
        margin: 0 auto;
    }
    .menu-item{
        height: 400px;
    }
}